/* LoginRestOwner.css */

.login-rest-owner {
  width:80%;
  margin: auto;
  }
  
  .login-form-rest-owner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10rem;
    padding: 20px;
    border: rgb(225, 74, 99) solid 1px;
  }
  
  .login-rest-owner-header {
    margin-top: 7rem;;
    color: #333;
    font-weight: 200px;
    font-size: 3rem;
  }
  
  .login-form-rest-owner input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button-rest-owner {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgb(225, 74, 99);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button-rest-owner:hover {
    background-color: #0056b3;
  }
  
   
  .error-message,
  .success-message {
    margin-top: 15px;
    text-align: center;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  