.popup {
  position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    background-color: #00000090;
    display: grid; /* Ensure the popup is above other elements */
  }
  
  .popup p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: Outfit;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;

  }
  
  .update-food-item-form {
    place-self: center;
    width: 40rem;
    min-height: 20rem;
    color: #464242;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 3rem;
    border-radius: 8px;
    animation: fadeIn 0.5s;
    font-family: Outfit;
    font-size: 1.5rem;
  }
  
  .update-food-item-form label {
    font-size: 1rem;
  }
  
  .update-food-item-form input[type="text"],
  .update-food-item-form input[type="file"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-food-item-form button[type="submit"] {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    background-color: rgb(225, 74, 99);
  }
  
  .update-food-item-form button[type="submit"]:hover {
    background-color: rgb(218, 160, 170);
  }
  
  .popup img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
  }

  