

.review-container-header{
    margin-top: 7rem;
    color: rgb(225, 74, 99);
    font-family: Outfit;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.posted-review-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:153rem;
    font-size: 1.5rem;
    border: 2px solid rgb(225, 74, 99);;
    border-radius: 15px;
    padding: 20px;

}

.posted-review-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.posted-review-container li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    
  
}

.posted-review-container li p {
    margin: 10px 0;
    font-size: 1.5rem;
}

.posted-review-container li p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
}

.posted-review-container li p.time {
    font-style: italic;
    font-size: 1.5rem;
}

/* Additional styling if needed */
