
.restaurant-header-imp{
    margin-top: 30px;
    margin-bottom: 80px;
    background-size: contain ;
    position: relative;
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:1050px){
    .location-header{
        height: 16rem
    }
    .location-header-contents{
        max-width: 30%;
    }
}

@media (max-width: 760px){
    .location-header-contents{
        max-width: 15%;
    }
    .location-header-contents p{
        display: none;
    }
    
}