.add-food-item-page {
  margin: 0 auto;
  width: 80%;
}


.add-food-item-header{
  margin-top: 20px;
  font-size: 3rem;
  color: rgb(225, 74, 99);
  text-align: center;
}


.food-item-form {
  display: flex;
  flex-direction: column;
  z-index: 100;
  gap: 20px;
  width: 100rem;
  height: 60rem;
  margin-top: 30px;
  padding: 30px;
  left:50rem;
  border: rgb(225, 74, 99) solid 1px;
}

.food-item-form label {
  font-size: 1.2rem;
  font-size: 2rem;
  font-family: Outfit;
}

.food-item-form input[type="text"],
.food-item-form input[type="file"] {
  padding: 10px;
  font-size: 1.5rem;
  font-family: Outfit;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 4rem;
}

.food-item-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: rgb(225, 74, 99);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup p {
  margin: 0;
  margin-bottom: 10px;
}

.popup button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
}

.success-message {
  background-color: #2ecc71;
  color: white;
}

.error-message {
  background-color: #e74c3c;
  color: white;
}

.restaurant-header{
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
  background-image: url('/font_back.jpg');
  color: transparent;
  font-family: Outfit;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 7rem;
  margin-bottom: 2rem;
  animation: fadeIn 1s;
  }

  .food-item-form-container{
    display: grid;
    justify-content: center;
    align-items: center;
  }

.rest-buttons{
  display: flex;
}


.show-orders button{
  background: transparent;
    font-size: 1rem;
    color:rgb(83, 83, 83);
    border: 1px solid rgb(225, 74, 99);
    padding: 20px 40px;
    border-radius: 50px;
    transform: 0.3s;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 34rem;
}

.show-orders button:hover{
  background-color: rgb(206, 195, 197);
}

.show-reservations button{
  background: transparent;
    font-size: 1rem;
    color:rgb(83, 83, 83);
    border: 1px solid rgb(225, 74, 99);
    padding: 20px 40px;
    border-radius: 50px;
    transform: 0.3s;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 2rem;

}

.show-reservations button:hover{
  background-color: rgb(206, 195, 197);
}

.REST-success-message,
.REST-error-message {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.REST-success-message {
  background-color: #2ecc71;
  color: white;
}

.REST-error-message {
  background-color: #e74c3c;
  color: white;
}