.restaurant-page {

}

.restaurant-page h2{

  font-size: 100px;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  color: transparent;
  font-family: Outfit;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 60px;
  margin-bottom: 60px;
  }