.restaurant-page {
  margin: 0 auto;
  width: 80%;

}

.restaurant-header h2{
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
  color: black;
  font-family: Outfit;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 7rem;
  margin-bottom: 7rem;
  animation: fadeIn 1s;
  }


