.restaurant-page {
  margin:auto;
  width: 80%;
}

.restaurant-page h2{

  font-size: 100px;
  text-align: center;
  font-weight: 600;
  background-image: url('/font_back_2.jpg');
  color: transparent;
  font-family: Outfit;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 60px;
  margin-bottom: 60px;
  animation: fadeIn 1s;
  }

  .restaurant-description p{
    
  }