@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Outfit:wght@100..900&family=Ubuntu+Mono&display=swap');
.Navbar{
    top: 0;
    position: sticky;
    z-index: 2000;
    width: 100%;
    background-color: white;
    height: 10rem;
    display: flex;
    align-items: center;
}

.navbar-content{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Outfit;
    
}

.logo{
    min-width: 7rem;
    min-height: 7rem;
}

.Navbar img{
    min-width: 2.5rem;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 29px;
    color:rgb(83, 83, 83);
    font-size: 18px;
    font-size: 2rem;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 2000;
}

.Navbar button{
    background: transparent;
    font-size: 1rem;
    color:rgb(83, 83, 83);
    border: 1px solid rgb(225, 74, 99);
    padding: 20px 40px;
    border-radius: 50px;
    transform: 0.3s;
    font-size: 1.5rem;
}

.Navbar button:hover{
    background: #fff4ff;

}

.Navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(225, 74, 99);
}

.Navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(225, 74, 99);
    border-radius: 5px;
    top: -8px;
    right: -8px;
    z-index: 2001;
}

@media (max-width: 1050px){
    .navbar .logo{
        width: 100px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 2px;
    }
    .navbar-right button{
        padding: 8px 25px;

    }
}

@media (max-width: 900px){
    .navbar .logo{
        width: 90px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 2px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px){

    .navbar-menu{
        display: none;
    }
  
}