.content {
    width: 100%;
    margin-bottom: 10px;
}

.container {
    width: 101%; /* Set width to 100% */
    height: 60rem;
    border-color: white;
}

.img-body {
    width: 102%;
    height: 100%;
    padding: 1.5rem;
}

.img-body img {

    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.img-body:before,
.img-body:after {
    content: '';
    border: 3px solid #fff; /* Adjust border properties as needed */
    pointer-events: none; /* Ensure the borders don't interfere with interactions */
}

.img-body:before {
    z-index: 1; /* Bring the outer border to the front */
}

.slick-prev:before, .slick-next:before{
    color:black;
    background-color: black;
    border-radius:100%;
}


