.content {
    width: 100%;
    margin-bottom: 10px;
}

.container {
    width: 101%; /* Set width to 100% */
    height: 60rem;
    border-color: white;
    margin:0 auto;
}

.slider-component{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img-body {
    width: "100%";
    margin: 0 auto;
}

.img-body img {

    width: 42rem;
    height: 30rem;
    object-fit: cover;
}

.img-body:before,
.img-body:after {
    content: '';
    border: none; /* Adjust border properties as needed */
    pointer-events: none; /* Ensure the borders don't interfere with interactions */
}

.img-body:before {
    z-index: 1; /* Bring the outer border to the front */
}

.slick-prev:before {
    color:black;
    background-color: black;
    border-radius:100%;
}

.slick-next:before {
    color:black;
    background-color: black;
    border-radius:100%;
    margin-left: -200px;
}

.slider-image {
    width: "100%";
    margin: 0 auto;
}